# Data processing

In [1]:
import pandas as pd

FILE = "kn8_customs_defined_data.csv"
FILE_SAVE = "kn8_defined_cleaned_data.csv"

## Opening csv
Read data from file

In [2]:
headers = ["units", "kn8", "dcode", "product"]
data = pd.read_csv(FILE, sep=';', encoding = 'cp437',skiprows=1, error_bad_lines=False, header=None)
data.columns = headers

/home/cherra/.virtualenvs/PyTorchProject/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Some Data

In [3]:
data.head()
data.tail()

         units       kn8 dcode                         product
1220761      2      test   NaN                testtesttesttest
1220762      1  Willisau   NaN  Umverpackung H÷rgerΣtebatterie
1220763      1       x\t                                   NaN
1220764      1  xxxxx       \t                             NaN
1220765      1  xxxxxx      \t                             NaN

## Processing

### Clean rows
Remove last 12 rows(dirty rows)

In [4]:
data.drop(data.tail(12).index, inplace=True)

### Clean columns

Visualize rows which third value isn't NaN

In [5]:
data = data[['kn8','product']]
data.to_csv(FILE_SAVE, index = False, header = True, sep=';')

In [6]:
!pwd

/home/cherra/Cuarto/PE/PyTorchProject/SearchClassifier/word_classifier/data